{% extends 'userlogapp/base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock customcss %}




{% block content %}
<body class="d-flex align-items-center py-4">

    
<main class="form-signin w-100 m-auto">

    {% if messages %}
	  <ul class="messages">
		  {% for message in messages %}
			  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		  {% endfor %}
	  </ul>
    {% endif %}

    <p class="index-para">岩手大学学生同士をONE TEAMに</p>
    <p class="index-para">Make the Iwate University's Students</p>
    <p class="index-para">became One Team</p>
  <form method="POST">{% csrf_token %}
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
      <label for="floatingInput">username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPasswordAgain" placeholder="Passwordagain" name="passwordagain">
      <label for="floatingPassword">PasswordAgain</label>
    </div>

    <button class="btn btn-dark w-100 py-2" type="submit">サインイン</button>
    <br><br>
    <a href="{% url 'userlogapp:login' %}" class="btn index-para" tabindex="-1" role="button" aria-disabled="true">ログイン画面へ</a>
  </form>

<br><br><br><br>
<p class="rooter-p" id="rooter-p-spci">お問い合わせ</p>
<p class="rooter-p">よくある質問</p>
<p class="rooter-p">メールアドレス：support@minnano-nooto</p>

</main>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
{% endblock content %}
</html>

<!-- テストコメント追加-->