{% load static%}
<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>みんなの声</title>
        <link rel="stylesheet" href="{% static "css/mnvoice.css" %}">
        <script src="{% static "js/jquery.min.js" %}"></script>

    </head>

    <body>

    <div class="header">
        <div class="project_title">
            <p>みんなのノート</p>
            <p>Every One's Note</p>
        </div>

        <div class="searchbar">
            <form method="POST" action="{% url 'lecture_app:lecture_base'%}">
                {% csrf_token%}
                <input type="search" placeholder="検索" name="search_word" id="search_word">
                <button type="submit" id="search-button">検索</button>
            </form>
        </div>

        <div class="lecture-tab">講義</div>

        <div class="note-tab">ノート</div>


        <div class="mnnvoice-tab">みんなの声</div>
        <div class="logout">
            <form method="GET" action="{% url 'userlogapp:logout'%}">
                <button type="submit" class="logout-button">ログアウト</button>
            </form>
        </div>
    </div>

     <div class="contents">

        <div class="left-area">
            <h1 class="lecture-title">{{lecture_name}}の口コミ</h1>

            <!--
            <a class="backnote" href="{% url  'note_app:note_base' lecture_name '1st' 1%}">ノート画面に戻る</a>
            -->
            <div class="lecture-syllabus">
                {% if syllabus_model %}
                <p>教授:{{syllabus_model.professor}}</p>

                <p>開講時間:{{syllabus_model.Opening_hours}}</p>

                <br>

                <p>目的</p>
                    <p class="syllabus-text">{{syllabus_model.pusrpose}}</p>

                <p>目標</p>
                    <p class="syllabus-text">{{syllabus_model.goal}}</p>

                <p>概要</p>
                    <p class="syllabus-text">{{syllabus_model.overview}}</p>
                {% endif %}
            </div>

            
        </div>

        <div class="chat-area">
            <div class="chat-header">
                みんなの声/Oneline
            </div>

            <div class="chat-display">
                {% if models%}
                    {% for model in models %}
                        <p><span class="user">{{model.user}}</span>:<span class="user-comments">{{model.text}}</span></p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="chat-comment-area">
                <form method="POST">{% csrf_token%}
                    <!--
                    <textarea id="chat-main" placeholder="コメント" name="chat_document"></textarea>
                    -->
                    {% if forms %}
                    {{ forms }}
                    <input type="submit" id="chat-button"></input>
                    {% endif %}
                </form>
            </div>
        </div>
     </div>

     <script>

        $(document).ready(function(){

            $(".project_title").click(function(){
                console.log("検索画面に戻ります。");

                window.location.href = "{% url 'userlogapp:search'%}"
            })

            $(".note-tab").click(function(){
                console.log('note-tab clicked!');
                var lecture_name = "{{lecture_name}}";
                var lecture_number = '1st';
                var page_number = 1;
                console.log(lecture_name, lecture_number, page_number);

                window.location.href = "/note/" + lecture_name + "/" + lecture_number + "/" + page_number;

            })

            $(".lecture-tab").click(function(){
            console.log('講義画面に戻ります。');
            var lecture_name = "{{lecture_name}}";
            $.ajax({
                type : "POST",
                url  : "{% url 'lecture_app:lecture_base'%}",
                data :{
                    search_word : lecture_name
                },

                success : function(response){
                    console.log('成功！');
                    console.log(response);
                    window.location.href = "/lecture/?search_word=" + lecture_name;
                },

                error: function(xhr, status, error) {
                // 画面遷移が失敗した場合の処理
                console.error("画面遷移失敗: " + error);
                }

            });
        })

        })

     </script>
    </body>
</html>