body{
    background:linear-gradient(90deg, #393B56, hwb(236 41% 25%));
}

#logoleft{
    position: absolute;
    height: 50%;
    width: 100%;
    /* left: 45%; */
}

#logoright{
    position: absolute;
    height: 50%;
    width: 100%;
    left: 1%;
}

.title-left{
    position: absolute;
    width: 5%;
    height: 10%;
    left: 0%;
    /* background-color: aqua; */
}

.title-right{
    position: absolute;
    width: 5%;
    height: 10%;
    left: 5%;
    /* background-color: blue; */
}

.contents{
    position: absolute;
    width: 100%;
    /* height: 70%; */
    top: 30%;
    /* background-color: blueviolet; */
}

.lecture-table{
    position: absolute;
    width: 80%;
    left: 10%;

    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);

    background-color: antiquewhite;
}

th, td{
    border: 1px solid;
}

.overview{
    /* position: absolute; */
    width: 60%;
}