{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Upload</title>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/upload.css" %}">
</head>
    <body class="header-tab-3">
    <h1>{{ lecture_name}}{{lecture_number}}<br>ノートアップロード画面</h1>
        <div class="form-main">
        <form method="POST", enctype="multipart/form-data">
            {% csrf_token %}
                {% if forms%}
                {{ forms.as_p}}
                {% endif %}
            <input type="submit" value="送信" class="btn-submit">
        </form>
        </div>
        <a href="{% url 'note_app:note_base' lecture_name lecture_number_notchanged 1%}">戻る</a>
    </body>
</html>
